@page
@model Net6ValidationFactory.Views.Home.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Ad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Ad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Soyad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Soyad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Mail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Mail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Telefon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Telefon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.DogumTarihi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.DogumTarihi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Sifre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Sifre)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.User.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
